body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: IRANSansWeb;
}

@font-face {
  font-family: 'IRANSansWeb';
  src: local('IRANSansWeb'), url(./font/IRANSansWeb.woff) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
